
.nav-hover:hover {
    background-color:rgba(250, 34, 34, 0.737);
    transition: 0.6s ease-in-out;
    color: white !important;
}


.hcolor{
    color:#113F67;
} 

.logo{
  height: 40px;         
  width: 40px;
  border-radius: 50%;
   
}

.navbar-nav {
  gap: 15px; 
  /* border: 1px solid red; */
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
  width: auto;
  display: inline-block !important;
}
@media (min-width: 992px) {
  .navbar-collapse { 
    flex-grow: 0;         
  }
  .navbar-actions { 
    margin-left: .5rem;     
  }
}

@media (max-width: 991px){
  /* .navbar-collapse {
    flex-grow: 0;
    background: white;
    position: static;
    top: 100%;
    left: 0;
    width: 100% ;
    padding: 1px;
    z-index: 1000;
    
  } */
   .navbar-collapse .nav-item {
    margin: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eee;
    padding:5px 1px;
  }
 
 .navbar-collapse .nav-item::after {
    content: "→" ;
    color: white;
    background: #f44336;
    padding: 5px 10px;
    border-radius: 4px;
  }

}


.navbar {
    position: relative;
    z-index: 1;
}


.mega-menu {
    display: none;             
    /* position: absolute;*/
    top: 10%;                 
    left: 0;
    width: 100%;               
    background-color: gainsboro;
    padding: 20px 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;          
    z-index: 1000;
}



.nav-item .nav-link:hover + .mega-menu{
    /* display: block; */
    position: absolute;
    background-color: aliceblue;
     
}

.mega-menu-bg-img{
  background-image: url("Images/mega-menu-img.jpg");
  background-size: cover ;
  background-position: center;
}

.mega-menu-col-bg-img{
  background-image: url("Images/bg-nav-img-1.avif");
  background-size: cover ;
  background-position: center;
}

.mega-menu-link{
  position: relative;
  display: inline-block;    
  text-decoration: none;    
 
}

.mega-menu-link::after{
  content: "";
  position: absolute;
  left: 0;                 
  bottom: 0;
  height: 3px;
  width: 0;                 
  background: #f44336;
  transition: width .25s ease;
 
}

.mega-menu-link:hover::after{
  width: 30px;       
}

.mega-menu-link-2 {
  display: inline-block; /* keeps underline only under text */
  border-bottom: 3px solid transparent; /* invisible line (keeps height stable) */
  transition: border-color 0.3s ease;
}

.mega-menu-link-2:hover {
  border-bottom-color: #2252e1; /* show underline on hover */
}










.bg-img{
    background-image: url("Images/img-2.avif");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;

}

.btm-border{
    border-bottom: 3px solid orange;
    display: inline-block;
    padding: 5px;
    
}

.link-border{
    border-bottom: 3px solid red;
    display: inline-block;
}

.link-border:hover {
    border-bottom-color: orange;
    color: black;
}

.dot-org{
    color: orange;
}

.btn-anim {
  position: relative;
  overflow: hidden;
  color: white;
  border-radius: 0.50rem;      
  transition: color 0.3s ease-in-out;
   z-index: 1;
}


.btn-anim::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;            
  width: 100%;
  background-color: rgba(224, 173, 173, 0.783);
  z-index: -1;         
  transition:  0.4s ease-in-out;
  border-radius: 0.50rem;
}

.btn-anim:hover::before {
  height: 100%;         
  color: white;
}

.btn-anim1{
    position: relative;
    overflow: hidden;  
    color: red;
    border: 1px solid red;
    border-radius: 0.50rem;
    z-index: 1;      
    transition: color 0.3s ease-in-out;
}

.btn-anim1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;            
  width: 100%;
  background-color:rgba(227, 8, 8, 0.772);
  z-index: -1;         
  transition:  0.4s ease-in-out;
  border-radius: 0.50rem;
  color: white;
}

.btn-anim1:hover::before {
    color: white; 
    height: 100%;         
  
}

.bg-color{
    background-color: #113046;
}

.img-position{
    position: absolute;
    top: 130px;
    right: 100px;
    /* left: 0; */
    
}

.img-style{
    height: 310px;
    width: 260px;
}

@media (max-width: 768px) {
  .img-position {
    position: static; 
    margin-top: 0;
    text-align: center;
  }
  .img-style {
    width: 100%;
    height: 300px;
  }
}

.typo-bgcolor{
    background-color: #0B1D51;
}

.top-border{
    border-top: 3px solid orange;
    display: inline-block;
    padding: 5px;
    
}

.img2-style{
    height: 240px;
    width: 100%;
}


.hexagon{
    width: 200px;
    height: 200px;
    overflow: hidden;
    clip-path: polygon(
        25% 5%, 75% 5%, 100% 50%, 
    75% 95%, 25% 95%, 0% 50%
    )
}

.hexagon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-border{
    border: none;
}


.college-img{
    height: 190px;
    width: 100%;

}

.college-img2{
    height: 300px;
    width: 100%;
}

.overlay-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(211, 109, 109, 0.247);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.position-relative:hover .overlay-img {
  opacity: 1 ;
}

.bg-img2{
    background-image: url("Images/bg-img2.jpg");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;

}

.input-width{
    max-width: 350px;
}

.btm-border2{
    display: inline-block;
}

html, body {
  overflow-x: hidden;
}


