*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-hover:hover {
    background-color:rgba(250, 34, 34, 0.737);
    transition: 0.6s ease-in-out;
    color: white !important;
    
}


.hcolor{
    color:#113F67;
} 

.logo{
  height: 35px;         
  width: 35px;
  border-radius: 50%;
   
}

.navbar-nav {
  gap: 15px; 
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
  width: auto;
  display: inline-block !important;
}
@media (min-width: 991px) {
  .navbar-collapse { 
    flex-grow: 0;         
  }
  .navbar-actions { 
    margin-left: .5rem;     
  }
}

@media (max-width: 991px){

   .navbar-collapse .nav-item {
    margin: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eee;
    padding:5px 1px;
    
  }
 
 .navbar-collapse .nav-item::after {
    content: "→" ;
    color: white;
    background: #f44336;
    padding: 5px 10px;
    border-radius: 4px;
  }

}


.navbar {
    position: relative;
    z-index: 1;
}


.mega-menu {
    display: none;             
    position: absolute;
    top: 100%;                 
    left: 0;
    width: 100%;               
    background-color: gainsboro;
    padding: 20px 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);     
    z-index: 1000;
    background-image: url("Images/mega-menu-img.jpg");
    background-size: cover ;
    background-position: center;
    overflow-y: auto;
    max-height: 80vh;
}



.nav-item .nav-link:hover + .mega-menu{
    display: block;
    position: absolute;
  
     
}


.mega-menu-col-bg-img{
  background-image: url("Images/bg-nav-img-1.avif");
  background-size: cover ;
  background-position: center;
  
}

.mega-menu-link{
  position: relative;
  display: inline-block;    
  text-decoration: none;    
 
}

.mega-menu-link::after{
  content: "";
  position: absolute;
  left: 0;                 
  bottom: 0;
  height: 3px;
  width: 30px;                 
  background: #f44336;
  transition: width .25s ease;
 
}

.mega-menu-link:hover::after{
  width: 100%;       
}

.mega-menu-link-2 {
  display: inline-block; 
  border-bottom: 3px solid transparent; 
  transition: border-color 0.3s ease;
}

.mega-menu-link-2:hover {
  border-bottom-color: #2252e1; 
}


.bg-img{
    background-image: url("Images/img-2.avif");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;

}

.img-section-content-1{
  line-height: 65px;
  white-space: pre-line;
  font-size: 55px;
  margin-bottom: 0;
}

.img-section-content{
  line-height: 2px;
  font-size: 25px;
}

.img-section-content-3{
  margin-top: 0;
  font-size: 21px;
  white-space: pre-line;
}


.slider-section-1 p{
    line-height: 1;
    margin-top: 0;
    font-size: 40px;   
    font-weight: 500; 
    border-bottom: 3px solid orange;
    display: inline-block;        
    padding: 5px;  
    
}

.slider-section-1 p + p{
    font-size: 15px;      
    font-weight: 400;     
    border-bottom: none;
    line-height: normal;
    display: block;
    white-space: pre-line;
}


.slider-section-link{
  position: relative;
  display: inline-block;    
  text-decoration: none;    
 
}

.slider-section-link::after{
  content: "";
  position: absolute;
  left: 0;                 
  bottom: 0;
  height: 3px;
  width: 30px;                 
  background: #f44336;
  transition: width .25s ease;
 
}

.slider-section-link:hover::after{
  width: 80px;       
}

  .mySwiper {
    max-width: 1200px;   
    margin: 0 auto;     
  }

 .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    }


.swiper-pagination {
  position: static !important; 
  margin-top: 10px !important; 
  text-align: center;
}


.ul-module-p{
  line-height: 65px;
  white-space: pre-line;
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 0;
  border-bottom: 3px solid orange;
  width: fit-content;
  
}

.ul-module-p2{
  line-height: 2px;
  font-size: 19px;
  font-weight: 400;
}

.hexa-list {
  list-style: none;  
  padding: 0;
  margin: 0;
}

.hexa-list li {
  position: relative;
  padding-left: 30px; 
  margin-bottom: 10px;
}


.hexa-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;          
  height: 15px;
  background: orange;
  display: inline-block;
  margin-right: 10px;
  clip-path: polygon(
    25% 0%, 75% 0%,   
    100% 50%,         
    75% 100%, 25% 100%, 
    0% 50%            
  );
}


.text-media-p {
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 0;
  border-bottom: 3px solid orange;
  width: fit-content;
  line-height: 1.1;     
  padding-bottom: 25px;  
}

@media (max-width: 768px){
  .text-media-p {
    font-size: 30px;
  }
}

.text-media-p2 {
  display: block;       
  font-size: 19px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 50px;
  margin-bottom: 5px;   
}

.bg-color{
    background-color: #113046;
}


.img-position {
    position: relative;  
    top: 0;
    right: 0;
    padding-left: 20px;
}

.img-style {
    max-width: 100%;  
    height: auto;    
}


@media (min-width: 992px) {
    .img-position {
        position: absolute;
        top: 90px;
        right: 100px;
    }

    .img-style {
        height: 470px;
        width: 460px;
    }
}

@media (max-width: 991px) {
    .img-position {
        position: relative;
        top: 0;
        right: 0;
        padding-left: 0;
    }

    .img-style {
        max-width: 100%;
        height: 300px;
    }
}


@media (max-width: 768px) {
  .img-position {
    position: static; 
    margin-top: 0;
    text-align: center;
  }
  .img-style {
    width: 100%;
    height: 300px;
  }
}


.text-teaser-bgcolor{
    background-color: #0B1D51;
}


.text-teaser-p{
  font-size: 55px;
}

.text-teaser-p2{
  white-space: pre-line;
}

@media (max-width: 768px){
  .text-teaser-p{
    font-size: 45px;
  }
}

.card{
  /* width: 380px; */
  border-radius: 0%;
  border: none;
  padding: 0;
}

.card-img{
  width: 100%;
  height: 290px;
  border-radius: 0%;
  padding: 0 !important;
  margin: 0 !important;
}

.card-body p{
  margin-bottom: 0;
}

.card-body h5{
  line-height: normal;
}

.card-link{
  margin-top: 300px;
  left: 0;
}


.accordian-heading p{
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 18px;
  padding-left: 10px;
}

.accordian-heading p + p{
  margin-top: 0;
  font-size: 40px;
  font-weight: 500;
  padding-left: 10px;
  white-space: pre-line;
  border-bottom: 3px solid orange;
  width: fit-content;
}
  



.accordian-section .accordion .accordion-button {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: none !important;             
  font-weight: 400 !important;
  font-size: 18px;
  padding: 10px 15px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important; 
  white-space: nowrap !important;       
}


.accordian-section .accordion .accordion-button::after {
  content: "›" !important; 
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 34px !important;
  height: 34px !important;
  margin-left: auto !important;          
  border: 1px solid red !important; 
  border-radius: none !important;
  background: transparent !important;
  font-size: 18px !important;
  color: red !important;             
  transition: all 0.18s ease !important;
}


.accordian-section .accordion .accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}


.accordian-section .accordion .accordion-button:not(.collapsed) {
  color: orange !important;
}

.accordian-section .accordion .accordion-button:not(.collapsed)::after {
  content: "›" !important; 
  background: red !important;
  border-color: red !important;
  color: orange !important;   
}

.hexagon{
    width: 300px;
    height: 300px;
    overflow: hidden;
    clip-path: polygon(
        25% 5%, 75% 5%, 100% 50%, 
    75% 95%, 25% 95%, 0% 50%
    )
}

.hexagon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: 300px;
  gap: 15px;
}

.grid-item {
  overflow: hidden;
  border-radius: 0;
  position: relative; 
}

.grid-item img {
  width:  100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.grid-item.tall {
  grid-row: span 2;
}

.grid-item.medium {
  grid-row: span 1;
}


.overlay-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 28, 28, 0.6);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.3s ease-in-out;
}

.grid-item:hover .overlay-img {
  opacity: 1;
}

@media (max-width: 576px) { 
  .grid {
    grid-template-columns: 1fr; 
    grid-auto-rows: 300px;
  }
  .grid-item.tall {
    grid-row: span 1; 
  }
}














.btm-border{
    border-bottom: 3px solid orange;
    display: inline-block;
    padding: 5px;
    
}

/* .link-border{
    border-bottom: 3px solid red;
    display: inline-block;
}

.link-border:hover {
    border-bottom-color: orange;
    color: black;
} */


.btn-anim {
  position: relative;
  overflow: hidden;
  color: white;
  border-radius: 0px !important;      
  transition: color 0.3s ease-in-out;
   z-index: 1;
}


.btn-anim::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;            
  width: 100%;
  background-color: rgba(224, 173, 173, 0.783);
  z-index: -1;         
  transition:  0.4s ease-in-out;
  border-radius: 0.50rem;
}

.btn-anim:hover::before {
  height: 100%;         
  color: white;
}

.btn-anim1{
    position: relative;
    overflow: hidden;  
    color: red;
    border: 1px solid red;
    border-radius: 0.50rem;
    z-index: 1;      
    transition: color 0.3s ease-in-out;
}

.btn-anim1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;            
  width: 100%;
  background-color:rgba(227, 8, 8, 0.772);
  z-index: -1;         
  transition:  0.4s ease-in-out;
  border-radius: 0.50rem;
  color: white;
}

.btn-anim1:hover::before {
    color: white; 
    height: 100%;         
  
}


.img2-style{
    height: 240px;
    width: 100%;
}




.bg-img2{
    background-image: url("Images/bg-img2.jpg");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;

}

.input-width{
    max-width: 350px;
}

html, body {
  overflow-x: hidden;
}


.footer-link {
  position: relative;
  display: inline-block;  
  text-decoration: none;
}

.footer-link::after {
 content: "";
  position: absolute;
  left: 0;                 
  bottom: 0;
  height: 3px;
  width: 30px;                 
  background: #f44336;
  transition: width .25s ease;
}


.footer-link:hover::after {
 width: 100%;   
} 

.footer-white-space{
  white-space: pre-line;
}

.price-table-header {
  padding: 10px 20px 20px 20px;
}


.price-table-header p{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 0;
    line-height: 5px;
}

.price-table-header p + p{
    font-size: 40px;
    padding-top: 0;
    line-height: 40px;
    white-space: pre-line;
}

.price-table-body{
  padding: 20px;
  font-size: 18px;
  flex-grow: 1;
}
.price-border-top{
  border-top: 3px solid red;
  width: inline-block; 
  padding-top: 5px;
}

.price-border-bottom{
  border-bottom: 3px solid red;
  width: inline-block; 
  padding-top: 5px;
}


.price-list {
  list-style: none;  
  padding: 0;
  margin: 0;
}

.price-list li {
  position: relative;
  padding-left: 30px; 
  margin-bottom: 10px;
}


.price-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;          
  height: 15px;
  background: red;
  display: inline-block;
  margin-right: 10px;
  clip-path: polygon(
    25% 0%, 75% 0%,   
    100% 50%,         
    75% 100%, 25% 100%, 
    0% 50%            
  );
}

.price-table-footer P{
  font-size: 40px;
  font-weight: 500;
  padding-left: 20px;
}

.price-table-footer button{
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.price-tbl-gray{
  background-image: url("Images/gray\ bg.jpg");
  background-size: cover ;
  background-position: center;
}

.price-tbl-red{
  background-image: url("Images/red\ 2\ bg.jpg");
  background-size: cover ;
  background-position: center;
}

.price-top-space{
  margin-top: 100px;
  border-top: 3px solid red;
  
}

.price-top-space-2{
  margin-top: 138px;
  border-top: 3px solid red;
  
}

.price-top-space-3{
  margin-top: 75px;
  border-top: 3px solid red;
  
}

.price-recommendation {
  background-color: #0a1c57; 
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 8px 0;
  position: absolute;
  top: -40px; 
  left: 0;
  right: 0;
  /* margin-top: 10px; */
}

.price-table > .row > .col > .box{
   display: flex;
  flex-direction: column;
  height: 100%;
}



.quote-bg-1{
  background-color: #0B1D51;
  color: white;
}

.quote-teaser .box {
  font-size: 30px;
}

.quote-teaser i {
  font-size: 70px;
}

.quote-hexagon {
  width: 50px;
  height: 50px;
  overflow: hidden;
  clip-path: polygon(
    25% 5%, 75% 5%, 100% 50%, 
    75% 95%, 25% 95%, 0% 50%
  );
}

.quote-hexagon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 768px) {
  .quote-text {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .quote-text i {
    font-size: 50px; 
    margin-bottom: 10px;
  }

  .quote-text p {
    font-size: 20px; 
    line-height: 1.5;
  }
}


.hero-text p{
  font-size: 20px;
  padding-left: 65px;
}

.hero-text p + p{
  font-size: 50px;
  white-space: pre-line;
  font-weight: 500;
  padding-left: 65px;
}  

.hero-btn{
  padding-left: 65px;
}

.hero .row {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}


.hex-grid {
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
  align-items: center;
}

.hex-row {
  display: flex;
  gap: 10px;
}


.hex-row.offset {
  margin-left: 150px; 
}

.hex-row.offset-2{
  margin-left: 500px; 
}

.hex-item {
  width: 250px;
  height: 250px;
  overflow: hidden;
  clip-path: polygon(
    25% 5%, 75% 5%, 100% 50%,
    75% 95%, 25% 95%, 0% 50%
  );
}

.hex-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}




@media (max-width: 992px) {

  .hero-text p{
  font-size: 20px;
  padding-left: 30px;
}

.hero-text p + p{
  font-size: 50px;
  white-space: pre-line;
  font-weight: 500;
  padding-left: 30px;
}  

.hero-btn{
  padding-left: 30px;
}

  .hex-item {
    width: 200px;
    height: 200px;
  }
  .hex-row.offset {
    margin-left: 100px;
  }
}

@media (max-width: 576px) {

  .hero-text p{
  font-size: 20px;
  padding-left: 10px;
}

.hero-text p + p{
  font-size: 40px;
  white-space: pre-line;
  font-weight: 500;
  padding-left: 10px;
}  

.hero-btn{
  padding-left: 10px;
}

  .hero .row {
    flex-direction: column;
    align-items: center;
  }
  .hex-item {
    width: 150px;
    height: 150px;
  }
  .hex-row.offset {
    margin-left: 70px;
  }
}
